#header.main-header {
  position: fixed;
  top: 0;
  z-index: 100;
}
#header-logo-x {
  position: fixed;
  top: 20px;
  left: 50%;
  margin-left: -50px;
}
#bg-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
#bg-video {
  height: 100%;
  width: 100%;
}
#scroll-helper {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 110;
}
#scroll-helper .scroll-helper-bg {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  opacity: .5;
  transition: opacity .3s ease;
  width: 100%;
}
#scroll-helper:hover .scroll-helper-bg {
  opacity: 1;
}
#scroll-helper:hover .scroll-helper-content {
  opacity: 1;
}
#scroll-helper .scroll-helper-content {
  margin-left: -40px;
  position: absolute;
  opacity: .75;
  text-align: center;
  width: 490px;
  z-index: 111;
}
#scroll-helper .scroll-helper-content .desc {
  padding-top: 5px;
}
#content {
  box-sizing: border-box;
  margin: 0 auto;
  overflow-y: scroll;
  padding: 0 80px;
  max-width: 1440px;
  width: 100%;
}
#content.fixed-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.content-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 80px;
  max-width: 1440px;
  width: 100%;
}
.content-overlay {
  background: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(5px);
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.content-overlay .overlay-close {
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  padding: 40px;
  position: absolute;
  text-align: right;
  top: 0;
  right: 0;
  height: 100%;
  width: 200px;
}
.content-overlay .overlay-close:hover {
  background: rgba(0, 0, 0, 0.5);
}
.content-overlay .zoomed-image-wrapper {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.3);
  color: #333;
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 18px;
  overflow: hidden;
  margin: 40px 0;
  max-width: 1360px;
}
.content-overlay .zoomed-image-wrapper .image img {
  vertical-align: top;
  max-height: 700px;
}
.content-overlay .zoomed-image-wrapper .desc {
  font-family: 'Roboto', sans-serif;
  height: 50px;
  padding: 0 20px;
  overflow: hidden;
}
.content-overlay .zoomed-image-wrapper .desc .author .author-avatar {
  border-radius: 18px;
  float: left;
  overflow: hidden;
  height: 36px;
  width: 36px;
}
.content-overlay .zoomed-image-wrapper .desc .author .author-avatar img {
  height: 36px;
  width: 36px;
}
.content-overlay .zoomed-image-wrapper .desc .author .author-desc {
  line-height: 36px;
  margin-left: 10px;
}
.content-overlay .zoomed-image-wrapper .desc .status-item {
  cursor: pointer;
  font-size: 24px;
  float: right;
  padding: 7px 20px;
  vertical-align: top;
}
.content-overlay .zoomed-image-wrapper .desc .status-item:hover {
  background: #eee;
}
.content-overlay .zoomed-image-wrapper .desc .status-item .icon {
  cursor: pointer;
  padding-top: 2px;
}
.content-overlay .zoomed-image-wrapper .desc .status-item .status-item-info {
  display: inline-block;
  float: right;
  line-height: 36px;
  margin-left: 10px;
}
.content-overlay .zoomed-image-wrapper .desc .status-item.author {
  float: left;
  font-size: 16px;
}
.outer-center {
  float: right;
  right: 50%;
  position: relative;
}
.inner-center {
  float: right;
  right: -50%;
  position: relative;
}
#author-placeholder {
  position: fixed;
  top: 0;
  margin: 0 auto;
  z-index: 90;
  width: 100%;
}
#author-placeholder .author-content-wrap {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 80px;
  width: 100%;
}
#author-placeholder .author-identity {
  font-size: 48px;
  text-align: right;
  line-height: 1.5;
}
#author-placeholder .author-identity .author-name {
  background: #cbc1b7;
  color: #333333;
  display: inline;
  padding: 0 5px 5px 5px;
}
#author-placeholder .author-avatar {
  float: right;
}
article.reason {
  padding-bottom: 90px;
  transition: transform .1s linear;
  width: 490px;
}
article.reason header {
  padding: 20px 0;
}
article.reason header h2 {
  font-size: 48px;
  font-weight: 700;
  text-shadow: 0 2px 25px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.3);
  line-height: 1.5;
}
article.reason .article-content {
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.3);
  color: #333333;
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 18px;
  line-height: 1.2;
  overflow: hidden;
  margin-left: -40px;
  width: 100%;
}
article.reason .article-content .text-block {
  padding: 40px;
}
article.reason .article-content .image-attachment {
  padding: 0;
  margin: 0;
  width: 100%;
}
article.reason .article-content .image-attachment img {
  vertical-align: top;
  width: 100%;
}
article.reason .article-content .image-attachment.art,
article.reason .article-content .image-attachment.photo {
  cursor: pointer;
  position: relative;
}
article.reason .article-content .image-attachment.art .controls-overlay,
article.reason .article-content .image-attachment.photo .controls-overlay {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  text-align: center;
  transition: opacity .5s;
  height: 100%;
  width: 100%;
}
article.reason .article-content .image-attachment.art .controls-overlay:hover,
article.reason .article-content .image-attachment.photo .controls-overlay:hover {
  opacity: 1;
}
article.reason .article-content .image-attachment.art .controls-overlay .controls,
article.reason .article-content .image-attachment.photo .controls-overlay .controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
article.reason .article-content .image-attachment.art .controls-overlay .controls .icon-desc,
article.reason .article-content .image-attachment.photo .controls-overlay .controls .icon-desc {
  font-size: 20px;
  padding: 7px 0;
}
article.reason .article-content .article-status {
  font-family: 'Roboto', sans-serif;
  height: 48px;
  padding: 0 20px;
  overflow: hidden;
}
article.reason .article-content .article-status .status-item {
  cursor: pointer;
  font-size: 24px;
  float: left;
  padding: 7px 20px;
  vertical-align: top;
}
article.reason .article-content .article-status .status-item:hover {
  background: #eee;
}
article.reason .article-content .article-status .status-item .icon {
  cursor: pointer;
  margin-right: 10px;
}
article.reason .article-content .article-status .status-item .status-item-info {
  display: inline-block;
  float: right;
  padding-top: 2px;
}
article.reason .article-content .article-status .comments {
  float: right;
  margin-right: 0;
}
article.reason .article-content .article-status.after-text {
  background: #eee;
  border-top: 1px solid #ddd;
}
html {
  overflow: hidden;
  height: 100%;
}
body {
  background: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  overflow: auto;
}
