#author-placeholder {
  position: fixed;
  top: 0;
  margin: 0 auto;
  z-index: 90;
  width: 100%;
}
#author-placeholder .author-content-wrap {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 80px;
  width: 100%;
}
#author-placeholder .author-identity {
  font-size: 48px;
  text-align: right;
  line-height: 1.5;
  transition: transform .5s ease, opacity .5s ease;
}
#author-placeholder .author-identity .author-name {
  background: #ffffff;
  color: #333333;
  display: inline;
  padding: 0 5px 5px 5px;
}
#author-placeholder .author-identity:hover {
  background: #333333;
  color: #ffffff;
}
#author-placeholder .author-identity.hidden {
  opacity: 0;
  transform: translateX(300px);
}
#author-placeholder .author-avatar {
  float: right;
  transition: transform .5s ease, opacity .5s ease;
}
#author-placeholder .author-avatar.hidden {
  opacity: 0;
  transform: translateX(150px);
}
