@import "../colors";

article.reason{
  width: 490px;

  header{
    padding: 20px 0;

    h2{
      font-size: 48px;
      line-height: 1.5;
    }
  }

  .article-content{
    background: @color1;
    color: @text1;
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 18px;
    line-height: 1.2;
    margin-left: -40px;
    width: 100%;

    .text-block{
      padding: 40px;
    }

    .image-attachment{
      padding: 0;
      width: 100%;

      img{
        width: 100%;
      }
    }
  }
}